@charset "UTF-8";
* { margin: 0; padding: 0; border: 0; font-size: 100%; }
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: justify;
}
img {
	max-width: 100%;
	height: auto;
}
h3 {
  margin: 0 0 20px;
  color: #FF7900;
  text-align: center;
  text-shadow: 3px 0.1px 0.9px #A95000;
}
.navbar-brand {
	font-weight: 500;
    text-shadow: 1px 0.1px 0.9px #FF7900;
}
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("../images/Expat.jpg");
  background-size: cover;
  color: #ffffff;
  height: 300px;
}
.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #ffffff;
  text-align: center;
  text-shadow: 6px 0.1px 0.9px #FF7900;
}
.jumbotron h3 {
  margin: 0 0 20px;
  color: #ffffff;
  text-align: center;
  text-shadow: 3px 0.1px 0.9px #FF7900;
}
.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #FF7900;
}
td {
	padding-left: 35px;
	text-align: center;
}
#background-image {
	background-image: url("../images/singapore-marina-bay-sands-6-black-and-white-martin-hroch copy 5.jpg");
}
.btn.btn-secondary {
  border-radius: 2px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #FF7900;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 38%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
footer {
	padding-top: 10px;
	padding-bottom: 10px
}